body {
    background: linear-gradient(116.88deg, #543153 0%, #161223 99.75%);
    font-family: 'Slabo 13px', serif;
}

/* header */
.cabecalho {
    padding: 46px 0;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 104px;
    margin: 0 104px 0 0;
}

.cabecalho-menu-item {
    text-decoration: none;
    color: white;
    font-size: 20px;
}


/* main */
.container {
    margin: 150px 266px 0 266px;
}

.container-texto {
    display: flex;
}

.container-titulo {
    color: white;
    font-size: 55px;
    width: 429px;
    margin: 0 0 0 0;
}

h1 s {
    color: #C669E7;

}

.container-subtitulo {
    color: white;
    font-size: 24px;
    width: 376px;
}

.container-apresentacao {
    text-align: right;
    color: white;
    font-size: 24px;
    width: 396px;
    margin: 232px 0 0 100px;
}

.botao-principal {
    text-align: center;
    color: white;
    background-color: #db2682;
    border-color: white;
    border-radius: 50px;
    transition: background .3s;
    justify-content: center;
}

button:hover {
    background-color: #dd81af;
}